
#um-admin-page {
  padding: 25px 0px;
  font-size: 10pt;
}

#um-admin-page .header {
  font-size: 20pt;
  margin-bottom: 15px;
}

#um-admin-page .desc {
  font-size: 14pt;
  margin-bottom: 30px;
}

#um-admin-page #um-main-table {
  border: 1px solid #d8d8d8;
}

#um-admin-page #um-main-table td {
  padding: 10px;
}

#um-admin-page #um-main-table th {
  font-weight: bold;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
}

#um-admin-page #um-main-table tr.odd {
  background-color: #d8d8d8;
}